*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* position: sticky fixed; */
}
.container-1{
    width: 100%;
    height: 100vh;
    background-color: aqua;
    font-size:60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-2{
    width: 100%;
    height: 100vh;
    background-color: rgb(3, 178, 76);
    font-size:60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-3{
    width: 100%;
    height: 100vh;
    background-color: rgb(32, 25, 113);
    font-size:60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-4{
    width: 100%;
    height: 100vh;
    background-color: rgb(17, 46, 46);
    font-size:60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-5{
    width: 100%;
    height: 100vh;
    background-color: rgb(159, 103, 39);
    font-size:60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.home{
    width: 100%;
    height: 61px;
    background-color: black;
    display: flex;
    position: sticky;
    top: 0;
}
.home a{
    width: 20%;
    height: 100%;
    text-decoration: none;
}
.home a .div{
    width: 100%;
    height: 100%;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
}
.home a .div p{
    font-size: 30px;
    color: white ;
    transition: all 1s;
}
.home a .div:hover p{
    color: green;
    transition: all 1s;
}